body{
    margin: 0;

    display: flex;
    justify-content: center;

    background-image: url("./assets/images/wallpaperflare.com_wallpaper.jpg");
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;

    background-size: cover;
    background-attachment: fixed;
    background-origin: border-box;
}

.title {
    text-align: center;
    font-size: xx-large;
}
